<%#= render :partial => "form" %>
<%= render partial: 'form', locals: { button: 'UPDATE' } %>
<!-- # <% if @todolist.errors.present? %>
#   <ul>
#     <% @todolist.errors.each do |error, message| %>
      
#       <li> <%= "#{error.capitalize}  #{message}" %></li>
#     <% end %>    
#   </ul>
# <% end %>

# <%= form_for @todolist do |f| %>
#   <%= f.label :name, "代辦事項" %>
#   <%= f.text_field :name %>

#   <%= f.label :date, "死線" %>
#   <%= f.text_field :date %>

#   <%= f.label :note, "詳細內容"%>
#   <%= f.text_area :note%>

#   <%= f.submit "更新"  %>
# <% end %> -->